
<div class="container-fluid">
  <form novalidate>
    <div class="row form-group ">
      <div class="col-md-6">
        <input type="search" ng-model="term" ng-change="noResults = false" class="form-control" placeholder="who..." />
      </div>
      <div class="col-md-5">
        <input type="search" ng-model="where" ng-change="whereChanged()" class="form-control" placeholder="where..." places-autocomplete="place.name" details="place.data" options="place.options" />
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" ng-click="search(term, place.data.geometry)">go</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-6">
      <span ng-hide="!searching">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span ng-show="noResults">
        no results found for search term '{{term}}'
      </span>
      <dl class="search-results" ng-show="results.length > 0">
        <dt ng-repeat-start="person in results">
          {{person.forename}} {{person.surname}}
          <!--<span style="font-weight: normal; color: gray;">{{person.score}} {{person.id}}</span>-->
        </dt>
        <dd ng-repeat-end>
          <span class="glyphicon glyphicon-earphone"></span> {{person.mobile}}
          <span class="glyphicon glyphicon-inbox"></span>
          <a href="mailto:{{currentMarker.person.email}}">{{person.email}}</a>,
          {{person.postcode | postalTown}}, {{person.postcode | postcodePartial}}
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      <pre>{{place.data.geometry | json}}</pre>
    </div>
  </div>
</div>

<div class="clearfix"></div>
