
<div class="container-fluid">
  <form ng-submit="login()" name="login_form" novalidate>
    <div ng-show="error" class="row">
      <p class="text-danger">{{ error }}</p>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <input type="email" ng-model="user.email" placeholder="email" class="form-control" required />
      </div>
      <div class="col-md-5">
        <input type="password" ng-model="user.password" placeholder="password" class="form-control" required />
      </div>
      <div class="col-md-1">
        <input type="submit" value="go" class="btn btn-primary" ng-disabled="login_form.$invalid" />
      </div>
    </div>
  </form>
</div>
