<ul class="nav nav-pills pull-right">
  <li ng-class="{active:isActive('find-someone')}">
    <a ng-href="#/find-someone">find someone</a>
  </li>
  <li ng-class="{active:isActive('find-something')}">
    <a ng-href="#/find-something">find something</a>
  </li>
  <li class="dropdown" ng-class="{active:isActive('list-someone')||isActive('list-something')}">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      get listed
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a ng-href="#/list-someone">list yourself</a>
      </li>
      <li>
        <a ng-href="#/list-something">list your business</a>
      </li>
    </ul>
  </li>
</ul>
