<div class="col-lg-6">
  <ul>
    <li ng-repeat="(personId, person) in persons | orderBy: 'surname'">
      {{ person.surname }}, {{ person.forename }}
      <a ng-click="deletePerson(personId)">delete</a>
    </li>
  </ul>
</div>

<div class="col-lg-6">
  <form ng-submit="submitPerson()">
    <dl>

      <dt>title</dt>
      <dd><input type="text" ng-model="person.title" /></dd>
      
      <dt>forename</dt>
      <dd><input type="text" ng-model="person.forename" /></dd>
      
      <dt>surname</dt>
      <dd><input type="text" ng-model="person.surname" /></dd>
      
      <dt>email</dt>
      <dd><input type="text" ng-model="person.email" /></dd>
      
      <dt>mobile</dt>
      <dd><input type="text" ng-model="person.mobile" /></dd>
      
      <dd><input type="submit" value="Add Person" /></dd>

    </dl>
    
  </form>
</div>

<hr />
<h2>Debug Info</h2>
Persons:<br />
<pre>{{ persons | json }}</pre>

Person:<br />
<pre>{{ person | json }}</pre>
