<div class="col-lg-6">
  <ul>
    <li ng-repeat="person in persons | orderBy: 'surname'">
      {{ person.surname }}, {{ person.forename }}
      <a ng-click="deletePerson(person)"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<div class="col-lg-6">
  <form ng-submit="submitPerson()">
    <input type="text" ng-model="person.title" placeholder="title" />
    <input type="text" ng-model="person.forename" placeholder="forename" />
    <input type="text" ng-model="person.surname" placeholder="surname" />
    <input type="text" ng-model="person.email" placeholder="email" />
    <input type="text" ng-model="person.mobile" placeholder="mobile" />
    <input type="text" ng-model="person.postcode" placeholder="postcode" />
    <input type="submit" value="Add Person" />
  </form>
</div>

<hr />
<h2>Debug Info</h2>
Persons:<br />
<pre>{{ persons | json }}</pre>

Person:<br />
<pre>{{ person | json }}</pre>
