<div class="container-fluid">
  <form stripe-form="register" name="registration" novalidate>
    <div class="row">
      <ul ng-show="error" class="text-danger">
        <li ng-repeat="e in error">{{ e }}</li>
      </ul>
    </div>

    <div class="row">
      <h4>listing</h4>
    </div>

    <div class="row">
      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.forename.$invalid && !registration.forename.$pristine }">
        <label for="forename">first name</label>
        <input type="text" name="forename" ng-model="person.forename" class="form-control" ng-minlength="1" required />
        <p ng-show="registration.forename.$invalid && !registration.forename.$pristine" class="help-block">
          Please enter your first name (given name(s)).
        </p>
      </div>
      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.surname.$invalid && !registration.surname.$pristine }">
        <label for="surname">last name</label>
        <input type="text" name="surname" ng-model="person.surname" class="form-control" ng-minlength="1" required />
        <p ng-show="registration.surname.$invalid && !registration.surname.$pristine" class="help-block">
          Please enter your last name (surname or family name).
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.mobile.$invalid && !registration.mobile.$pristine }">
        <label for="mobile">mobile number</label>
        <input type="text" name="mobile" ng-model="person.mobile" class="form-control" ng-pattern="MobilePattern" required />
        <p ng-show="registration.mobile.$invalid && !registration.mobile.$pristine" class="help-block">
          Please enter your UK mobile telephone number.
        </p>
      </div>

      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.email.$invalid && !registration.email.$pristine }">
        <label for="email">email</label>
        <input type="email" name="email" ng-model="user.email" class="form-control" required />
        <p ng-show="registration.email.$invalid && !registration.email.$pristine" class="help-block">
          Please enter your email address.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.postcode.$invalid && !registration.postcode.$pristine }">
        <label for="postcode">postcode</label>
        <input type="text" name="postcode" ng-model="person.postcode" class="form-control" ng-pattern="PostcodePattern" to-upper required />
        <p ng-show="registration.postcode.$invalid && !registration.postcode.$pristine" class="help-block">
          Please enter your full UK postcode.
        </p>
        <p class="help-block">
          Your full postcode will not appear in search results. It is used to narrow search results by towns or cities.
        </p>
      </div>

      <div class="form-group col-md-6" ng-class="{ 'has-error' : registration.password.$invalid && !registration.password.$pristine }">
        <label for="password">password</label>
        <input type="password" name="password" ng-model="user.password" class="form-control" ng-minlength="6" required />
        <p ng-show="registration.password.$invalid && !registration.password.$pristine" class="help-block">
          Please choose a password with at least six characters.
        </p>
      </div>
    </div>

    <div class="row">
      <h4>payment</h4>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="number">card number</label>
        <input type="text"
               name="number"
               ng-model="number"
               class="form-control"
               placeholder="4242 4242 4242 4242"
               payments-format="card"
               payments-validate="card" />
        <p ng-show="registration.card.$invalid && !registration.card.$pristine" class="help-block">
          Please enter a valid card number.
        </p>

      </div>

      <div class="form-group col-md-3">
        <label for="expiry">expiry</label>
        <input type="text"
               name="expiry"
               ng-model="expiry"
               class="form-control"
               placeholder="mm / yy"
               payments-format="expiry"
               payments-validate="expiry" />
        <p ng-show="registration.expiry.$invalid && !registration.expiry.$pristine" class="help-block">
          Please enter a valid expiry date.
        </p>
      </div>

      <div class="form-group col-md-3">
        <label for="cvc">cvc</label>
        <input type="text"
               name="cvc"
               ng-model="cvc"
               class="form-control"
               placeholder="123"
               payments-format="cvc"
               payments-validate="cvc" />
        <p ng-show="registration.cvc.$invalid && !registration.cvc.$pristine" class="help-block">
          Please enter a valid cvc number.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <input type="submit" value="go" class="btn btn-primary pull-right" ng-disabled="registration.$invalid" />
      </div>
    </div>
    <input type="hidden" name="address_zip" ng-model="address_zip" ng-value="person.postcode" />
    <input type="hidden" name="address_country" ng-model="address_country" value="GB" />
    <input type="hidden" name="country" ng-model="country" value="GB" />
    <input type="hidden" name="name" ng-model="name" value="{{person.forename}} {{person.surname}}" />
  </form>

</div>
